DEBUG=False
SECRET_KEY={{ secret_key }}
ALLOWED_HOSTS={{ ansible_hostname }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_HOST={{ db_host }}
DATABASE_URL=postgres://{{ db_user }}:{{ db_user }}@{{ db_host }}:5432/{{ db_name }}
DJANGO_ALLOWED_HOSTS=*